* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
header {
    background-color: #c2efd4;
}
.topbar {
  width: 100%;
  margin: 0px auto;
  max-width: 1900px;
  justify-content: center;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bar-icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.fashion_icon img {
  height: 40px;
  width: 40px;
}
.mid-topbar a {
  text-decoration: none;
  color: #224f34;
  text-align: center;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
.mid-topbar ul {
  display: flex;
}
.mid-topbar li {
  list-style: none;
  display: inline-block;
}
.mid-topbar li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.right-topbar {
  display: flex;
}
.right-topbar .fa-solid {
  margin: 20px 10px 0px 0px;
}
.login-bar {
  margin: 12px 0px 0px 22px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: solid black 2px;
  padding: 6px 16px;
  border-radius: 3px;
  color: #224f34;
}
.login-bar:hover {
  background-color: #224f34;
}
.login-bar a {
  text-decoration: none;
}
.login-bar a:hover {
  color: white;
}
.header-content {
  width: 100%;
  margin: 0px auto;
  max-width: 1900px;
  justify-content: center;
}
.header-body{
  display: flex;
  justify-content: space-around;
}
.header-left {
  max-width: 600px;
  height: 500px;
}
.header-body h2 {
  font-family: "Rufina", serif;
  font-size: 86px;
  color: #224f34;
}
.header-body h3 {
  font-family: "Rufina", serif;
  font-size: 22px;
  color: #224f34;
  font-weight: lighter;
  line-height: 40px;
}
.primary-btn{
  border: 2px solid none;
  width: 168px;
  padding: 10px 15px;
  background-color: #224f34;
  cursor: pointer;
 
}
.primary-btn a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
 
}
.primary-btn:hover {
  background-color: rgb(62, 131, 62);
} 
.header-right{
  max-width: 400px;
}
.header-right img {
  height: 86%;
  width: 98%;
  margin-top: 20px;
  border: 2px solid white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 110px;
  background-color: #4baf73;
  padding: 16px;
}
.best-selling{
    padding-top: 60px;
}
.bestselling-content {
  text-align: center;
}
.best-selling h2 {
  font-size: 48px;
  color: #224f34;
}
.best-selling h3 {
  line-height: 70px;
  font-size:26px;
  color: #224f34;
  font-weight: lighter;
}
.box-content {
  width: 100%;
  margin: 0px auto;
  max-width: 1900px;
  justify-content: center;
}
.boxes {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.box-1 img {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #f3dbbf;
}
.box-2 img {
  border: 2px solid white;
  background-color: #b9ebf6;
  border-radius: 6px;
}
.box-3 img {
  border: 2px solid white;
  background-color: #f6c9cc;
  border-radius: 6px;
}
.detailed{
  letter-spacing: 3px;
}
.detailed::after{
  content: "|";
  position: relative;
  left:2px;
}

.more-btn{
 margin: 0px auto;
 
}
.categories {
  text-align: center;
  padding-top: 60px; ;
}

.categories h2 {
  font-size: 48px;
  color: #224f34;
  line-height: 90px;
}
.list{
    line-height: 70px;
}
.list a {
  text-decoration: none;
  padding: 0px 40px 0px 40px;
  color: black;
 
  
}
.categories .ref {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.image-content{
  width: 100%;
  margin: 0px auto;
  max-width: 1900px;
  justify-content: center;
}
.images{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  text-align: center;
  width: 90%;
  margin: 0px auto;
  row-gap: 30px;
}
.flex-item{
  flex-basis: 22%;
}
.flex-item img {
  border: 2px solid white;
  height: 280px;
  width: 280px;
  background-color: #ddd9dd;
  border-radius: 8px;
}
.best-detailed {
  text-align: center;
  font-size: 16px;
}
.best-details {
  margin-top: 8px;
  font-weight: light;
  letter-spacing: 1px;
}
.offer-content {
    width: 100%;
    margin: 0px auto;
    max-width: 1900px;
    justify-content: center;
  }
.offer-part{
    padding-top: 60px;    
  }
.offers {
    display: flex;
    background-color: #c2efd4;
    justify-content: center;
    margin: 0px auto;
    width: 78%;
    gap: 60px;
    height: 420px;
    padding: 10px;
}
  .dot   {
    height: 60px;
    width: 60px;
  }
  .dot-bottom{
    position: relative;
    top: 310px;
  }
  .dot-top{
    position: relative;
    top: 14px;
  }
  .offer-detail{
    width: 30%;
  }
.offer-detail h2{
  color: #224f34;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}
.offer-detail p {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.number-wrapper {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}
.number {
  border: 2px solid white;
  width: 78px;
  padding: 12px;
  background-color: #fbf7f7;
  box-shadow: 8px 8px 0px 0px black, 0.2px 0.2px 0px 0px black;
}
.number .num {
  font-size: 36px;
  display: inline;
  justify-content: center;
}
.number .num-content {
  font-size: 12px;
}
.shop{
  margin-top: 30px;
}
.feedback-corner {
  text-align: center;
  padding-top: 60px;
}
.feedback-corner h2 {
  font-size: 48px;
  color: #224f34;
  line-height: 100px;
}
.all-box {
  display: grid;
  grid-auto-flow: dense;
  justify-content: center;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
.box {
  width: 380px;
  height: 250px;
  border: 1px solid white;
  padding: 20px;
  background-color: #f8eeee;
  box-shadow: 4px 4px 0px 0px rgb(149, 148, 148),
    2px 2px 0px 0px rgb(137, 135, 135);
    
}
.box h4 {
  font-size: 30px;
}
.box p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  
}
.double-inverted {
  text-align: left;
}
footer {
  background-color: #c2efd4;
  margin-top: 40px;
  padding: 20px;
}
.footercontainer-content{
  width: 100%;
    margin: 0px auto;
    max-width: 1900px;
    justify-content: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-content h3 {
  font-size: 20px;
}
.content-in a {
  text-decoration: none;
  color: #224f34;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.content-in ul {
  text-decoration: none;
  list-style: none;
  color: #224f34;
  font-size: 20px;
}
.icons {
  font-size: 28px;
}
.footer-foot {
  display: flex;
 justify-content: space-around;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}
.footer-right{
  display: flex;
 gap: 20px;
}
.footer-right .fa-circle{
  font-size: 8px;
  padding: 2px
}

 /* Responsive Design  */
  @media only screen and (min-width: 1903px) {
  .offers{
    width: 74%;
  }
  .box{
    width: 456px;
  }
} 

/* Responsive Design for phone */
/* @media only screen and (max-width: 600px) {
  header {
    background-color: #c2efd4;
    padding-bottom: 60px;
    width: 80%;
  }
  .nav {
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: space-around;
  }
  .bar-icon {
    display: block;
    margin-left: -80px;
  }
  .fashion_icon {
    display: none;
  }

  .mid-navbar ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #c2efd4;
    height: 63vh;
    width: 47vh;
    display: block;
    text-align: center;
  }
  .right-navbar {
    display: flex;
    margin-right: -110px;
  }
  .right-navbar .fa-solid {
    margin: 20px -6px 0px 0px;
  }
  .header-body h2 {
    width: 60%;
    font-family: "Rufina", serif;
    font-size: 60px;
    margin: 30px 60px;
    color: #224f34;
  }
  .header-body img {
    display: none;
  }
  .header-body h3 {
    width: 60%;
    font-family: "Rufina", serif;
    font-size: 18px;
    margin: 30px 60px;
    color: #224f34;
    font-weight: lighter;
  }
  main {
    width: 80%;
  }
} */
