* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
h2{
  font-size: 48px;
  color: #224f34;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 767px){
  h2{
    font-size: 35px;
    font-family: "Poppins", sans-serif;
  }
}
header{
    background-color: #c2efd4;
}
.container--full{
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.header__bar-top {
  width: 100%;
  margin: 0px auto;
  max-width: 1900px;
  justify-content: center;
}
.header__bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bar-icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.header__fashion-icon img {
  height: 40px;
  width: 40px;
}
.header__bar-mid a {
  text-decoration: none;
  color: #224f34;
  text-align: center;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
.header__bar-mid ul {
  display: flex;
}
.header__bar-mid li {
  list-style: none;
  display: inline-block;
}
.header__bar-mid li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.header__bar-right {
  display: flex;
}
.header__bar-right .fa-solid {
  margin: 20px 10px 0px 0px;
  color: #224f34;
}
.header__login {
  margin: 12px 0px 0px 22px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: solid black 2px;
  padding: 6px 16px;
  border-radius: 3px;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.header__login:hover {
  background: #224f34;
  color: white;
}
.header__login a {
  text-decoration: none; 
  color: inherit; 
}
.header__login a:hover {
  color: white
}

.header__content {
 padding: 50px 30px;
}
.header__body{
  display: flex;
  flex-wrap: wrap-reverse;

  justify-content: space-between;
}
.header__body-left {
  max-width: 600px;
  height: 500px;
}
.header__body h2 {
  font-family: "Rufina", serif;
  font-size: 86px;
  color: #224f34;
}
.header__body h3 {
  font-family: "Rufina", serif;
  font-size: 22px;
  color: #224f34;
  font-weight: lighter;
  line-height: 40px;
}
.button-primary{
  border: 2px solid none;
  width: 153px;
  padding: 10px 15px;
  background-color: #224f34;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}
.button-primary a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
 
}
.button-primary:hover {
  background-color: rgb(62, 131, 62);
} 
.header-image{
  max-width: 400px;
}
.header-image img {
  height: 86%;
  width: 98%;
  margin-top: 20px;
  border: 2px solid white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 110px;
  background-color: #4baf73;
  padding: 16px;
}
.best-selling{
    padding-top: 60px;
}
.bestselling__container {
  text-align: center;
}
.best-selling h3 {
  line-height: 20px;
  font-size:26px;
  color: #224f34;
  font-weight: lighter;
  padding-bottom: 30px;
}

.bestselling__product {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bestselling__product h4{
  font-size: 1.17em;
  margin-top: 16px;
}
.bestselling__product .box{
  width:calc(33% - 20px);
}
@media only screen and (max-width: 600px){
  .bestselling__product .box{
    width:calc(50% - 20px);
  }
}
@media only screen and (max-width: 480px){
  .bestselling__product .box{
    width:100%;
  }
}
.bestselling__product .box img{
  width:100%;
  display: block;
}
.box-1 img {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #f3dbbf;
}
.box-2 img {
  border: 2px solid white;
  background-color: #b9ebf6;
  border-radius: 6px;
}
.box-3 img {
  border: 2px solid white;
  background-color: #f6c9cc;
  border-radius: 6px;
}
@media only screen and (max-width: 480px){
 .box{
  margin-bottom: 20px;
 }
}
.bestselling__product-price{
  letter-spacing: 3px;
}
.bestselling__product-price::after{
  content: "|";
  position: relative;
  left:2px;
}
.bestselling__product-rate::after{
  font-family: 'Font Awesome';
  content: '\f005'; 
}

.button-seemore{
 margin: 30px auto;
}
.categories {
  text-align: center;
  padding-top: 60px; ;
}

.categories h2 {
  line-height: 90px;
}
.categories__list{
    line-height: 70px;
}
.categories__list a {
  text-decoration: none;
  padding: 0px 40px;
  color: black;
 
  
}
.categories .active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.categories__product{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
  text-align: center;
  margin: 0px auto;
  row-gap: 30px;
}

.categories__detail img {
  border: 2px solid white;
  height: 280px;
  width: 280px;
  background-color: #ddd9dd;
  border-radius: 8px;
}
@media only screen and (max-width: 585px){
  .categories__detail {
    width:100%;
  }
  .categories__detail img{
    width:100%;
    object-fit: contain;
  }
}
.exclusive-offer{
    padding-top: 60px;   
  }
.offer__content {
    display: flex;
    flex-wrap: wrap;
    background-color: #c2efd4;
    justify-content: space-around;
    margin: 0px auto;
    
    padding: 30px;
}
.offer__image-part{
  position: relative;
  top: 20px;
}
  .dot{
    height: 60px;
    width: 60px;
  }
 
  .offer__dot-top{
    position: absolute;
    left: 390px;
  } 
  @media only screen and (max-width: 520px){
    .dot{
      display: none;
    }
  }
  .offer__Detail{
    width: 30%;
  }

.offer__Detail p {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.offer__number-wrapper {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}
.offer__number {
  border: 2px solid white;
  width: 78px;
  padding: 12px;
  background-color: #fbf7f7;
  box-shadow: 8px 8px 0px 0px black, 0.2px 0.2px 0px 0px black;
}
.offer__number .offer__number-digit {
  font-size: 36px;
  display: inline;
  justify-content: center;
}
 .offer__number-fixed {
  font-size: 8px;
}
.button-shop{
  margin-top: 30px;
}
.feedback-corner {
  text-align: center;
  padding: 60px 0px 50px 0px;
}
.feedback-corner h2 {
  line-height: 100px;
}
.feedback__card {
  display: grid;
  grid-auto-flow: dense;
  justify-content: center;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
.feedback__box {
  border: 1px solid white;
  padding: 20px;
  background-color: #f8eeee;
  box-shadow: 4px 4px 0px 0px rgb(149, 148, 148),
    2px 2px 0px 0px rgb(137, 135, 135);
    
}
 .feedback__double-inverted {
  font-size: 40px;
  display: block;
  text-align: start;
}
.feedback__box h4 {
  font-size: 30px;
}
.feedback__box p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  
}

footer {
  background-color: #c2efd4;
  margin-top: 60px;
  padding: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__details h3 {
  font-size: 20px;
}
.footer__details a {
  text-decoration: none;
  color: #224f34;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.footer__details ul {
  text-decoration: none;
  list-style: none;
  color: #224f34;
  font-size: 20px;
}
.footer__icons {
  font-size: 28px;
}
.footer__icons a{
  color: #224f34;
}
.footer-foot {
  display: flex;
 justify-content: space-between;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 20px 0px;
}
.footer-right{
  display: flex;
 gap: 20px;
}
.footer-right a{
  text-decoration: none;
  color: black;
}
.footer-right .fa-circle{
  font-size: 8px;
  padding: 2px
} 

/* Responsive Design for phone */
@media only screen and (max-width: 767px) {
  .header__bar-icon {
    font-size: 20px;
    cursor: pointer;
    display: block;
  }
  .header__fashion-icon img {
    display: none;
  }
 
  .header__bar-mid ul {
    display: none;
  }
  .header__bar-mid li {
   padding: 25px;
   font-size: 20px;
   text-align: center;
}
  .header__bar-mid ul.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    background-color:  #c2efd4;
    margin: 30px 0;
  }
  .header__body-left{
   text-align: center
  }
  .header__body h2 {
    font-family: "Rufina", serif;
    /* font-size: 72px; */
    font-size: calc(100vw * 0.09387);
    color: #224f34;
    
  }
  .button-primary{
    margin: 30px auto;
  }
  .best-selling h3 {
    /* font-size:12px; */
    font-size: calc(100vw * 0.0289);
    color: #224f34;
    font-weight: bold;
  }
  .categories__list{
    line-height: 50px;
  }
  .categories__list a {
    text-decoration: none;
    padding: 0px 10px;
    color: black;
  }
  .offer__content {
    display: block;
    justify-content: center;
}

.button-shop{
  margin: 30px auto;
}
.offer__image-part{
  text-align: center;
}
.dot{
  display: block;
}
.offer__dot-top{

}
.offer__Detail{
  width: 100%;
  text-align: center;
}
.offer__number-wrapper{
  justify-content: center;
}

.offer__Detail h2{
  margin-top: 40px;
}
.feedback__card{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 40px;
  
}
.footer-foot{
  display: block;
  line-height: 30px;
}
}
@media only screen and (max-width: 991px) and (min-width:768px){
  .header__body{
    justify-content: center;
  }
  .offer__image-part{
    width:50% ;
  }
  .offer__Detail{
    width: 50%;
  }
  .offer__dot-top{
    position: absolute;
    bottom: 25px;
    left: 230px;
  }
}
@media only screen and (max-width: 1024px) and (min-width:992px){
  .header__body{
    justify-content: center;
  }
  .categories__product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  .categories__detail img{
    width: calc(25% - -190px);
  }
}